<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Hotel Reservation</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<div>
  <h3>Hotel's name: </h3>
  <h3 th:text="${editReservation.hotelName}"></h3>
</div>
<form action="#" th:action="@{/edit}" th:object="${editReservation}" method="post">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select Apartment</label>
    <select class="form-control" id="exampleFormControlSelect1" th:field="*{apartmentNumber}"
            th:value="${editReservation.apartmentNumber}">
      <div th:each="hotel: ${hotels}">
        <div th:each="apartment: ${hotel.apartments}">
          <option th:text="${apartment.apartmentNumber}" th:value="${apartment.apartmentNumber}"></option>
        </div>
      </div>
    </select>
  </div>
  <fieldset>
    <legend>Choose trip dates</legend>
    <div>
      <label for="start">Start</label>
      <input type="date" id="start" name="trip"
             th:value="${startReservationData}"
             min="2018-01-01" max="2022-12-31" th:field="*{startReservationData}"/>
    </div>
    <div>
      <label for="end">End</label>
      <input type="date" id="end" name="trip"
             th:value="${endReservationData}"
             min="2018-01-01" max="2022-12-31" th:field="*{endReservationData}"/>
    </div>
  </fieldset>
  <input type="hidden" th:value="${editReservation.reservationId}" id="reservationId" name="reservationId"
         class="form-control">
  <input type="hidden" th:value="${editReservation.hotelName}" id="hotelName" name="hotelName" class="form-control">
  <input type="hidden" th:value="${editReservation.guestId}" id="guestId" name="guestId" class="form-control">
  <button type="submit" class="btn btn-danger">Submit</button>
</form>
</body>